.btn-search{
    height: 45px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn);
    font-size: 15px;
    border-radius: 12px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn-search:hover{
    background-color: var(--btn-hover);
}