  @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

  :root{
    --bg-container: #F6F8FF;
    --bg-content: #FEFEFE;
  
    --text: #4B6A9B;
    --text-alt: #2B3442;
  
    --btn: #0079FF;
    --btn-hover: #60ABFF;
  }
  
  .theme-dark{
    --bg-container: #141D2F;
    --bg-content: #1E2A47;
  
    --text: #fff;
    --text-alt: #fff;
  }

  body {
  margin: 0;
}

*{
  font-family: 'Space Mono', monospace;
  transition: .3s ease all;
}

